body {
    margin: 0;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

button {
    font-family: Lato, sans-serif;
}

#root {
    --font-size: 16px;
    width: 100%;
    min-height: 100dvh;
    background-color: #101f25;
    background-image: url("assets/images/background-desktop.webp");
    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;

    @media (max-width: 600px) {
        --font-size: 14px;
    }
}

.app-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 562px;
    min-height: 100dvh;
    margin: 0 auto;
    padding: 0 24px 64px;
}
